.archive-group {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}
.archive-header {
  margin-top: -0.4em;
  width: 6em;
}

.archive-header sup {
  color: var(--secondary);
}
.archive-posts {
  width: 100%;
}
