.post-meta {
  color: var(--secondary);
  font-size: 14px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* .post-meta .i18n_list li { */
/*   display: inline-flex; */
/*   list-style: none; */
/*   margin: auto 3px; */
/*   box-shadow: 0 1px 0 var(--secondary); */
/* } */
.post-meta .tags {
  display: inline;
}

.post-meta .entry-tags a {
  color: var(--secondary);
}
.post-meta a:before {
  content: "\B7";
}

.post-title {
  margin-bottom: 2px;
  font-size: 2em;
}

.post-description {
  margin-top: 10px;
  margin-bottom: 5px;
}
